# Group Activity : Team11 



Group Members : 1.Abhinand
2.Revathy
3.Siby
4.Thasneem
5.Vipindas VR

Activities executed ;

Read the data set into python
1.	Found out how many countries are there in the dataset.
2.	Found out how many countries with respect to the region are available in the dataset
3.	Average on which region has the highest
  a.GDP per capita (current US$)
  b.International trade: Imports (million US$)
4.Found out which region has more consistent with respect to GDP per capita (current US$)

## Importing the Dataset

In [24]:
import pandas as pd

In [25]:
df = pd.read_excel("Dataset_w6.xlsx")
df

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,11068.9,118,16324
192,Viet Nam,South-easternAsia,330967,95541,2067.9,136,174111
193,Yemen,WesternAsia,527968,28250,1106.4,136,6861
194,Zambia,EasternAfrica,752612,17094,1311.1,179,7442
195,Zimbabwe,EasternAfrica,390757,16530,890.4,99,5212

## 1.Finding how many countries are there in the dataset.

In [31]:
len(df['country'])

196

## 2.Finding how many countries with respect to the region are available in the dataset

In [27]:
df.groupby('Region')['country'].count()

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

## 3.Finding average on which region has the highest

### a.GDP per capita (current US )

In [28]:
df1=df.groupby('Region')['GDP per capita (current US$)'].mean()
df1.nlargest(1)

Region
NorthernAmerica    57659.0
Name: GDP per capita (current US$), dtype: float64

### b.International trade: Imports (million US$)

In [29]:
df2=df.groupby('Region')['International trade: Imports (million US$)'].mean()
df2.nlargest(1)

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

## 4.Finding out which region has more consistent with respect to GDP per capita (current     US$)

In [30]:
df3=df.groupby('Region')['GDP per capita (current US$)'].std()
df3.nsmallest(1)

Region
WesternAfrica    815.095399
Name: GDP per capita (current US$), dtype: float64