# Assignment

## Activities Executed;

1. Find out how many males and females participated in the test.
2. What do you think about the students' parental level of education?
3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course
4. What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course
5. The management needs your help to give bonus points to the top 25% of
students based on their maths score, so how will you help the management
to achieve this.

## Read the dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

## 1.Finding out how many males and females participated in the test.

In [4]:
df['gender'].value_counts() #Number of Females and Males

female    518
male      482
Name: gender, dtype: int64

## 2.Insight on students' parental level of education

In [5]:
df2 = df.groupby('parental level of education')['gender'].count() #Number of people possessing each level of education
df2

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
Name: gender, dtype: int64

## 3.Who scores the most on average for math, reading and writing based on

### a.Gender

In [6]:
df3 = df.groupby('gender')['math score'].mean() #Males score higher average on math score based on gender.
df3.nlargest()

gender
male      68.821577
female    63.376448
Name: math score, dtype: float64

In [7]:
df4 = df.groupby('gender')['reading score'].mean() #Females score higher average on reading score based on gender.
df4.nlargest()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [8]:
df5 = df.groupby('gender')['writing score'].mean() #Females score higher average on writing score based on gender.
df5.nlargest()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

### b.Test preparation course|

In [9]:
df6 = df.groupby('test preparation course')['math score'].mean()  #Those who completed scores higher average on math score based on Test preparation course
df6.nlargest()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [10]:
df7 = df.groupby('test preparation course')['reading score'].mean()  #Those who completed scores higher average on reading score based on Test preparation course
df7.nlargest()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [11]:
df8 = df.groupby('test preparation course')['writing score'].mean()  #Those who completed scores higher average on writing score based on Test preparation course
df8.nlargest()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

## 4.Insight on scoring variation for math, reading and writing based on ● Gender ● Test preparation course

Males score higher average on math score based on gender.
Females score higher average on both reading and writing score based on gender.

Those who completed scores higher average on all the math, reading and writing scores based on Test preparation course

## 5. Top 25% of students based on their maths score

In [12]:
df9 = df.nlargest(250,['math score']) #There are 1000 rows in the data set.Therefore 25% of 1000 is 250.
df9

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
849,male,group A,bachelor's degree,standard,none,77,67,68
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62